--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: architectural_projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.architectural_projects (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    category character varying(100) NOT NULL,
    description text NOT NULL,
    functional_class character varying(100) NOT NULL,
    construction_system character varying(255) NOT NULL,
    total_area numeric NOT NULL,
    building_volume numeric NOT NULL,
    footprint_area numeric NOT NULL,
    documentation text NOT NULL,
    design_duration integer NOT NULL,
    design_cost numeric NOT NULL,
    image_main character varying(255),
    image_plan character varying(255),
    image_interior1 character varying(255),
    image_interior2 character varying(255),
    user_comments integer DEFAULT 0,
    downloads integer DEFAULT 0,
    interior_description1 text NOT NULL,
    interior_description2 text NOT NULL
);


ALTER TABLE public.architectural_projects OWNER TO postgres;

--
-- Name: architectural_projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.architectural_projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.architectural_projects_id_seq OWNER TO postgres;

--
-- Name: architectural_projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.architectural_projects_id_seq OWNED BY public.architectural_projects.id;


--
-- Name: architectural_projects id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.architectural_projects ALTER COLUMN id SET DEFAULT nextval('public.architectural_projects_id_seq'::regclass);


--
-- Data for Name: architectural_projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: architectural_projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.architectural_projects_id_seq', 19, true);


--
-- Name: architectural_projects architectural_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.architectural_projects
    ADD CONSTRAINT architectural_projects_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

